@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&family=Noto+Sans+JP:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply overflow-x-hidden;
  }
  body {
    @apply leading-relaxed;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-semibold text-slate-950;
  }
  a {
    @apply text-blue transition hover:text-blue/80;
  }
  ::selection {
    @apply bg-blue text-white;
  }
}

@layer components {
  .space-gradient {
    background: linear-gradient(
      120deg,
      #e6007a -5.77%,
      #703ac2 13.57%,
      #0070eb 34.18%,
      #0297fb 58.08%,
      #0ae2ff 74.93%
    );
  }
  .title {
    @apply text-3xl font-semibold leading-tight tracking-tight sm:text-4xl lg:text-5xl;
  }
  .gradient-text span {
    background: linear-gradient(
      90deg,
      #e6007a -5.88%,
      #703ac2 15.42%,
      #0070eb 40.77%,
      #0297fb 72.21%,
      #0ae2ff 95.53%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title-zkevm {
    @apply text-3xl font-bold leading-tight sm:text-4xl lg:text-5xl;
    span {
      background: linear-gradient(
        90deg,
        #bc50ff 0%,
        #9a5eff 33.79%,
        #36a3ff 67.06%,
        #47d9ff 98.29%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .gradient-outlined-box {
    @apply relative bg-space-gray-dark;
    border-radius: 1.4rem;
  }
  .gradient-outlined-box::after {
    @apply rounded-3xl;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    background-image: linear-gradient(
      120deg,
      #e6007a -5.88%,
      #703ac2 15.42%,
      #0070eb 40.77%,
      #0297fb 72.21%,
      #0ae2ff 95.53%
    );
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  .float-animation {
    animation: 2s float infinite;
  }

  /* Ecosystem */
  .tab {
    @apply block cursor-pointer rounded px-2 py-2 text-left text-xs text-slate-500 transition hover:bg-blue/5 hover:text-blue sm:text-sm lg:px-4 lg:py-2.5 lg:text-base;
  }
  .tab.current {
    @apply cursor-default bg-blue text-white outline-0;
  }
  .tab-panel {
    @apply grid grid-cols-2 gap-2 md:grid-cols-3 lg:gap-4 xl:grid-cols-4;
  }

  /* Article */
  .entry-content {
    @apply prose mx-auto lg:prose-lg prose-headings:font-bold prose-headings:text-slate-950 prose-a:text-blue hover:prose-a:text-blue prose-blockquote:bg-slate-50 prose-blockquote:py-3 prose-blockquote:pl-7 prose-blockquote:pr-5 prose-strong:font-medium prose-em:text-slate-950 prose-img:mx-auto;
  }
  .entry-content h2:first-child,
  .entry-content p:first-child {
    @apply mt-0;
  }
  .entry-content p code {
    font-size: 0.85em;
    @apply rounded bg-white/20 px-2 py-1 font-normal;
  }
  .entry-content p code::before,
  .entry-content p code::after,
  .entry-content blockquote p::before,
  .entry-content blockquote p::after {
    @apply hidden;
  }
  .entry-content ul li::marker,
  .entry-content ol li::marker {
    @apply text-slate-700;
  }
  .entry-content h1 {
    font-size: 1.8em;
    margin-top: 1.5555556em;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
    @media only screen and (max-width: 1024px) {
      font-size: 1.5em;
      margin-top: 2em;
      margin-bottom: 1em;
      line-height: 1.3333333;
    }
  }
  .entry-content h1 strong {
    @apply font-bold;
  }
  .entry-content h2 a,
  .entry-content h3 a {
    @apply text-slate-950 no-underline hover:text-slate-950;
  }

  .table-of-contents {
    @apply leading-snug;
  }

  .table-of-contents a {
    @apply font-normal no-underline hover:underline;
  }

  .table-of-contents ul li ul {
    list-style: circle;
  }

  .table-of-contents ul li ul li ul {
    list-style: square;
  }
}

.container-lg {
  @apply mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8;
}

.container-md {
  @apply mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8;
}

.container-sm {
  @apply mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8;
}

.container-xs {
  @apply mx-auto max-w-screen-md px-4 sm:px-6 lg:px-8;
}
